*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ Idea files
.idea
*.iml

# Some spesial project files
windows-service/installer32.nsi
windows-service/*.exe

.gradle
build

